numpy
pandas
python-dotenv
mysql-connector-python
PyMySQL
scikit-learn==1.1.0  # specify a compatible version
seaborn
catboost
xgboost==1.6.0      # specify a compatible version
Flask
dill
mlflow==2.2
# -e .
